.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .float-right {
    float: right;
  }

  .myshipment select.form-select {
    width: 170px;
}

input.form-control.me-2 {
  width: 220px;
}
.card {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px;
}

p {
  margin: 0 0 3px;
}

.Finalized {
  background: #d92f2f;
  color: white;
  padding: 5px;
  margin-bottom: 7px;
  font-size: 13px;
  border-radius: 15px;
}

.Finalized p {
  padding: 0px;
  margin: 0px;
}