<app-header></app-header> 
<div class="container">
    <div class="row">
        <div class="col-md-7 mt-5">
            <div class="myshipment">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-danger me-2" type="submit">Search</button>
                    <select class="form-select me-2" aria-label="Default select example">
                      <option selected>All Shipments</option>
                      <option value="1">Retirement Pending</option>
                      <option value="2">In Delivery</option>
                      <option value="3">Finished</option>
                    </select>
                      <button class="btn btn-outline-success me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-download"></i> Export
                      </button>
                  </form>
                  <!-- Button trigger modal -->
        
          
         
          
          
            </div>
        </div>
    </div>
   <div class="row">
     <div class="col-md-6">
      <div class="myshiping my-3">
        <!-- <div class="float-right">
          <button class="btn btn-outline-success me-3 btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-download"></i> Filter
          </button>
        </div> -->
        <!-- <div class="d-flex pt-2">
          <p>Sort by:</p>
          <div class="form-check form-check-inline ms-3">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Retirement date</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Creation date</label>
          </div>
        </div> -->
     
       <!-- <div class="card">
         <div class="card-body">
           <div class="">
             <p>Delivered</p>
             <div class="row">
               <div class="col-6">
                 <p><b>Order No.</b>  10-5666</p>
                 <small><i class="fa fa-map-marker"></i> Santa Victoria 280, Santiago</small>
               </div>
               <div class="col-6">
                 <p><b>Delivered</b>  06/06 - 06:12 p.m.</p>
               </div>
             </div>
           </div>
         </div>
       </div> -->

       <div class="card" *ngFor="let shipment of shipments">
        <div class="card-body" (click)="waypointDetails(shipment,shipment.id)">
          <div class="">
            <p>{{shipment.status}}</p>
            <div class="row">
              <div class="col-6">
                <p><b>Order No.</b>  {{shipment.order_number}}</p>
                <small><i class="fa fa-map-marker"></i> {{shipment.waypoints[1].addressStreet}} {{shipment.waypoints[1].addressAdditional}}</small>
              </div>
              <div class="col-6">
                <p><b>Delivery</b> {{shipment.delivery_time |date:'d/M/yy, h:mm a '}}.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

     </div>
     <div class="col-md-6 mt-3">
      <div class="row">
        <div class="col-md-6">
          <p><b>order number</b> 24-1732</p>
          <p><b>OrdersNow ID</b> 653373747 <i><span class="tooltip">You will need this number to request help for your shipment.</span></i></p>
        </div>
        <div class="col-md-6 text-right">
          <div class="pending1">
            <p> withdrawal pending </p>
          </div>
          <div class="Finalized1">
            <p>Finalized</p>
          </div>
        </div>
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="10">
        <ng-container>
            <agm-circle [latitude]="latitude" [longitude]="longitude" 
                [fillOpacity]="0.5" [radius]="1000" ></agm-circle>
            <agm-circle [latitude]="shipmentDetails[1].latitude" [longitude]="shipmentDetails[1].longitude" 
                [fillOpacity]="0.5" [radius]="1000" ></agm-circle>
                <agm-direction 
                [origin]="origin" 
                [destination]="destination"
              >
              </agm-direction>
        </ng-container>
    </agm-map>
       <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-74.25987368715491!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1654559715781!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    
        <div class="text-center">
          <h3>Delivered  06/06 - 06:12 p.m.</h3>
        </div>
        <hr/>
        <div *ngIf="shipments.length!=0">
        <div class="row">
          <div class="col-6">
            <p>Withdrawal</p>
            <h3>{{shipmentDetails[0].addressStreet}} <br/>
              {{shipmentDetails[0].addressAdditional}} -  {{shipmentDetails[0].city}}</h3>
              <small>Who do we ask about at the retreat?</small>
              <p>{{shipmentDetails[0].name}}<br/> {{shipmentDetails[0].phone}}</p>
              <small>Instructions</small>
              <p>{{shipmentDetails[0].instructions}}</p>
          </div>
          <div class="col-6">
            <p>Delivery</p>
            <h3>{{shipmentDetails[1].addressStreet}} <br/>
              {{shipmentDetails[1].addressAdditional}} -  {{shipmentDetails[1].city}}</h3>
              <small>Who do we ask about at the retreat?</small>
              <p>{{shipmentDetails[1].name}}<br/> {{shipmentDetails[1].phone}}</p>
              <small>Instructions</small>
              <p>{{shipmentDetails[1].instructions}}</p>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-6">
            <small>Shipping type</small>
            <p>Immediate</p>
            <small>Cost of delivery</small>
            <p>$5,394.27</p>
          </div>
          <div class="col-6">
            <small>km traveled</small>
            <p>{{distanceValue|number : '1.2-2'}}</p>
            <small>merchandise value</small>
            <p>$30,990</p>
          </div>
        </div>
         <div class="row">
           <div class="col-6">
             <button class="btn btn-sm btn-danger form-control" type="button" data-bs-toggle="modal" data-bs-target="#proof" (click)="proofDetails()">See proof of delivery</button>
           </div>
           <div class="col-6">
            <button class="btn btn-sm btn-outline-danger form-control" type="button">Ask for help</button>
          </div>
         </div>
      </div>
      </div>
   </div>
</div>


<!-- Modal -->
<div class="modal fade" id="proof" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proof of Delivery</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="deliveryData.image">
       <img [src]="deliveryData.image" class="img-fluid"/>
      </div>
      <div class="modal-body" *ngIf="!deliveryData.image">
        <p>No Image Found</p>
        <!-- <img [src]="deliveryData.image" class="img-fluid"/> -->
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Discharge</button>
      </div>
    </div>
  </div>
</div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Export Shipments</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Shipments</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>All Shipments</option>
                        <option value="1">Retirement Pending</option>
                        <option value="2">In Delivery</option>
                        <option value="3">Finished</option>
                      </select>
                    </div>
                    
                    <div class="row">
                      <label for="exampleInputEmail1" class="form-label">Creation date</label>
                      <div class="col">
                        <input type="date" class="form-control" placeholder="First name" aria-label="First name">
                      </div>
                      <div class="col">
                        <input type="date" class="form-control" placeholder="Last name" aria-label="Last name">
                      </div>
                    </div>
                  
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Exportar</button>
                </div>
              </div>
            </div>
          </div>