<div class="login-form">
    <div class="accept"></div>
      <div class="modal show d-block" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="text-left" (click)="back()">
                <i class="fa fa-arrow-left" style="font-size: 22px;padding: 11px;"></i>
              </div>
              <div class="modal-body text-center" style="background-color: rgb(249, 246, 244);">
                <div class="toaccept"  *ngIf="!showRegisterForm">
                <img src="./../../assets/login-staff.svg" class="img-fluid">
                <h3>To continue we ask you to accept our <a href="">terms of use</a> and <a href="">privacy policies.</a></h3>
               <button class="btn btn-danger form-control rounded-pill" (click)="showRegisterPage()" type="button">To accept</button>
              </div>
  
              <div class="loginform " *ngIf="showRegisterForm">
                <h3>Sign up with your email</h3>
                <form  [formGroup]="registerForm">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  formControlName="name" id="floatingInput" placeholder="Name">
                  <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control"  formControlName="email" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="text-left">
                  <a href=""><b>I forgot my password</b></a>
                </div>
                
                <div class="">
                  <button class="btn btn-danger form-control rounded-pill my-3" (click)="register()" type="button">Continue</button>
                </div>
                </form>
              </div>
              </div>
             
            </div>
          </div>
        </div>
  </div>