.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
    position: relative;
    
}
i.fa.fa-arrow-left {
    position: absolute;
    top: 0;
    z-index: 1;
}
.accept {
    background-color: #dc3545;
    height: 370px;
}
.modal {
    background-color: #3d3c3e73;
    padding-top: 7%;
}