<app-header></app-header> 
<div class="container">
  <div>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step  [stepControl]="pickUpLocation" [editable]="isEditable">
        <form [formGroup]="pickUpLocation"  (ngSubmit) = "onFirstForm()">
        <div class="col-sm-12 ">
          <button type="button" (click)="addSection()" class="btn btn-sm btn-primary mt-3">Add Item <span class="requireds">*</span></button>
      </div>
        <div class="card px-3 my-3"  *ngFor="let item of items,let i=index">
          <label for="exampleFormControlInput1 " class="form-label mt-3">Item Selected <span class="requireds">*</span></label>
          <select class="form-select mb-3" aria-label="Default select example"   [(ngModel)]="item.categoryId"  [ngModelOptions]="{standalone: true}">
            <option selected>Select Item </option>
            <option value="1">product1</option>
            <option value="2">product2</option>
            <option value="3">product3</option>
          </select>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Value <span class="requireds">*</span></label>
                <input type="number" class="form-control" placeholder="Value"   [(ngModel)]="item.value"  [ngModelOptions]="{standalone: true}" >
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quantity <span class="requireds">*</span></label>
                <input type="number" class="form-control"  placeholder="Quantity"   [(ngModel)]="item.quantity"  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Volume <span class="requireds">*</span></label>
                <input type="number" class="form-control" placeholder="Volume"   [(ngModel)]="item.volume"  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Weight <span class="requireds">*</span></label>
                <input type="number" class="form-control" placeholder="Weight"   [(ngModel)]="item.weight"  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
           <div class="col-md-12">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"   [(ngModel)]="item.description"  [ngModelOptions]="{standalone: true}"></textarea>
            </div>
           </div>

          </div>
          <button type="submit" (click)="deleteSection(i)" class="btn btn-sm btn-danger mb-3">Delete item section</button>
        </div>
        

          <ng-template matStepLabel>Withdrawal</ng-template>
          <div class="row">
            <div class="col-md-5">
                <div class="address mt-3">
                        <div class="mb-3">
                          
                          <mat-form-field class="full-width main-font w-100"  appearance="outline" >
                            <mat-label>Address</mat-label>
                            <input ngx-google-places-autocomplete  (onAddressChange)="AddressChange($event)" matInput type="text" placeholder="Address" formControlName="addressStreet" autocomplete>
                        </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>Additional Information</mat-label>
                            <input matInput class="form-control" formControlName="addressAdditional" placeholder="Floor, doorbell, house, etc..." id="exampleInputPassword1">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>City <span class="requireds">*</span></mat-label>
                            <input matInput class="form-control" formControlName="city" placeholder="city" id="exampleInputPassword1">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>Notification Mail </mat-label>
                            <input matInput class="form-control"  formControlName="notificationMail" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>Order Number <span class="requireds">*</span></mat-label>
                            <input matInput class="form-control" formControlName="referenceId" placeholder="Enter Order Number" id="exampleInputPassword1">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="w-100" appearance="outline">
                           <mat-label>Delivery date<span class="requireds">*</span></mat-label>
                            <input matInput [matDatepicker]="picker"appearance="outline"  formControlName="date" placeholder="Delivery Time">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                      </div>
                        <div class="row mb-3">
                            <div class="col">
                              <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Name <span class="requireds">*</span></mat-label>
                                <input matInput class="form-control" formControlName="name" placeholder="Enter Sender Name" id="exampleInputPassword1">
                              </mat-form-field>
                            </div>

                            <div class="col">
                              <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Telephone <span class="requireds">*</span></mat-label>
                                <input matInput class="form-control"  formControlName="phone" maxlength="9"  placeholder="Enter valid number:+1" id="exampleInputPassword1">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="">
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                              <mat-label>Withdrawal Instructions </mat-label>
                              <input matInput class="form-control" formControlName="instructions" placeholder="What is?  Who to ask for?" class="form-control" id="exampleInputPassword1">
                            </mat-form-field>
                          </div>
                          <br/>
                          <br/>
                                        </div> 
            </div>
            <div class="col-md-7" *ngIf="latitude">
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height:92% !important">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)" [agmFitBounds]="true"   (centerChange)="centerChanged($event)" ></agm-marker>
              </agm-map>
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-74.25987368715491!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1654191633000!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
        </div>
          <div class="text-center my-4">
            <button mat-button  (click)="test()" matStepperNext class="btn btn-danger" type="submit">Choose delivery address</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="DropLocationGroup"  [editable]="isEditable">
        <form [formGroup]="DropLocationGroup"  (ngSubmit)="onSecondForm()">
          <ng-template matStepLabel>Delivery</ng-template>
          <div class="row">
            <div class="col-md-5">
                <div class="address mt-3">

                        <div class="mb-3">
                          <mat-form-field class="full-width main-font w-100"  appearance="outline" >
                            <mat-label>Address</mat-label>
                          <input ngx-google-places-autocomplete (onAddressChange)="AddressChange1($event)" matInput type="text" placeholder="Address" formControlName="addressStreet" autocomplete>
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>Additional Information </mat-label>
                            <input matInput class="form-control"   formControlName="addressAdditional" placeholder="Floor, doorbell, house, etc..." id="exampleInputPassword1">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>City <span class="requireds">*</span> </mat-label>
                            <input matInput class="form-control"   formControlName="city" placeholder="city" id="exampleInputPassword1">
                          </mat-form-field>
                        </div>
                        <div class="row mb-3">
                        
                            <div class="col">
                              <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Receiver name <span class="requireds">*</span> </mat-label>
                                <input matInput class="form-control"formControlName="name" placeholder="For Maria, for the accounting area, etc..." aria-label="First name">
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Telephone <span class="requireds">*</span> </mat-label>
                                <input matInput  formControlName="phone" class="form-control" id="mobileNumber" maxlength="9" placeholder="+91" formControlName="phone" aria-label="Last name">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="">
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                              <mat-label>Withdrawal Instructions <span class="requireds">*</span> </mat-label>
                              <input matInput placeholder="What is?  Who to ask for?" formControlName="instructions" class="form-control" id="exampleInputPassword1">
                            </mat-form-field>
                          </div>
                          <br/>
                          <br/>
                         
                </div>
            </div>
            <div class="col-md-7">
              <agm-map [latitude]="lat1" [longitude]="log1" [zoom]="zoom " style="height: 92% !important;">
                <agm-marker [latitude]="lat1" [longitude]="log1" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd1($event)"  (centerChange)="centerChanged1($event)"></agm-marker>
              </agm-map>
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-74.25987368715491!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1654191633000!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
        </div>
          <div class="text-center my-4">
            <button mat-button matStepperPrevious class="btn btn-outline-success me-4">Return to withdrawal address</button>
            <button mat-button matStepperNext class="btn btn-danger" (click)="submit()" type="submit">Complete shipping details</button>
          </div>
        </form>
      </mat-step>
      <mat-step>   
        <ng-template matStepLabel>Done</ng-template>
        
      
        <div class="row">
          <!-- <div *ngIf="loading" style="text-align: center;">
            <mat-spinner diameter="60" style="margin: auto;"></mat-spinner>
          </div> -->
          <div class="col-md-5">
            <p>What kind of shipping do you need?</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="float-right">
                      <h3 class="m-0">$  <div class="spinner-border" role="status">
                        <span *ngIf="loading" class="visually-hidden">Loading...</span>
                      </div>{{getPrice}}</h3>
                      <span class="faster">Faster</span>
                    </div>
                    <p class="m-0"><b>Immediate</b></p>
                    <p class="smalltitle">We pick up as soon as possible and deliver in less than 1 hour.</p>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                   <div class="row">
                     <div class="col-6">
                       <p>Retirement date</p>
                       <small>6/2/2022</small>
                     </div>
                     <div class="col-6">
                      <p>Retirement date</p>
                      <small>6/2/2022</small>
                    </div>
                    <div class="col-6">
                      <p>What is the value of what you send? </p>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>
                   </div>
                   <p><b>Shipping Cost ${{getPrice}}</b></p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="float-right">
                      <h3 class="m-0">$ {{getPrice}} <div class="spinner-border" role="status">
                        <span *ngIf="loading" class="visually-hidden">Loading...</span>
                      </div></h3>
                      <span class="faster">Personalized</span>
                    </div>
                    <p class="m-0"><b>Personalized</b></p>
                    <p class="smalltitle">We pick up on the day and time you choose, and we deliver in less than 1 hour.</p>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-6">
                        <p>Retirement date</p>
                        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                      </div>
                      <div class="col-6">
                       <p>Retirement date</p>
                       <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                     </div>
                     <div class="col-6">
                       <p>What is the value of what you send? </p>
                       <div class="input-group mb-3">
                         <span class="input-group-text" id="basic-addon1">$</span>
                         <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                       </div>
                     </div>
                    </div>
                    <p><b>Shipping Cost {{getPrice}}</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="Shipping">
              <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-info-circle"></i> Shipping Specifications</a>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Shipping Specifications</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         <p><i class="fa fa-info-circle"></i>  The delivery person cannot make purchases on your behalf.</p>
                         <p><i class='fas fa-box-open'></i> The maximum size is 47 x 43 x 40 cm.</p>
                         <p><i class='fas fa-weight-hanging'></i> The maximum weight is 10 Kg.</p>
                         <p>   <i class='fas fa-shipping-fast'></i> Your shipment is insured.</p>
                         <p><i class='fa fa-flask'></i> You cannot send chemicals, weapons, money, jewelry or prohibited substances.</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">It is understood</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-md-7">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-74.25987368715491!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1654191633000!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <div class="container" *ngIf="lines.length!=0">
              <agm-map [latitude]="lines[0].latitude" [longitude]="lines[0].longitude" [scrollwheel]="false" [zoom]="10">
                  <ng-container>
                      <agm-circle [latitude]="lines[0].latitude" [longitude]="lines[0].longitude" 
                          [fillOpacity]="0.5" [radius]="1000" ></agm-circle>
                      <agm-circle [latitude]="lines[lines.length - 1].latitude" [longitude]="lines[lines.length - 1].longitude" 
                          [fillOpacity]="0.5" [radius]="1000" ></agm-circle>
                          <agm-direction 
                          [origin]="origin" 
                          [destination]="destination"
                        >
                        </agm-direction>
                  </ng-container>
              </agm-map>
          </div>
          </div>
        </div>
        <div class="my-4 text-center">
          <button mat-button matStepperPrevious class="btn btn-outline-danger me-4"  [disabled]="loading">Return to delivery address</button>
          <button mat-button class="btn btn-danger" (click)="createShipments()" [disabled]="loading">go to summary</button>
        </div>
      </mat-step>       
      <!-- <mat-step>
        <ng-template matStepLabel>Done</ng-template>
      
        <div class="my-4 text-center">
          <button mat-button matStepperPrevious class="btn btn-outline-danger me-4">Return to delivery address</button>
          <button mat-button  class="btn btn-danger" (click)="stepper.reset()">go to summary</button>
        </div>
        </mat-step> -->
    </mat-horizontal-stepper>
    </div>
    
</div>