.text-right {
    text-align: right;
}
.accordion-button {
    display: block;
}
.float-right {
    float: right;
}
.smalltitle {
    font-size: 12px;
    margin: 0px;
    line-height: 16px;
}
.faster {
    background-color: #ffe1e0;
    color:red;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 37px;
}

.Shipping {
    margin: 64px 0px;
}

.requireds {
    color:red !important;
    }
    

.Shipping a {
    color: red;
    text-decoration: none;
    font-size: 18px;
}