<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="./../../assets/login-image.png" height="100%" width="100%"/>
        </div>
        <div class="col-md-6 mt-5 text-center">
            <div class="login-form">
                <img src="./../../assets/login.svg" class="img-fluid"/>

                <h3 class="mt-4">Welcome</h3>
                <h4>Log in to your account.</h4>
                <div class="callout">
                    <i class="fa fa-info-circle"></i>
                    <div class="">
                        <p class="m-0"><b>Do you use the same email in OrdersNow Shipping and in the OrdersNow app?</b></p>
                        <p class="m-0">So, from now on you enter your account in the same way as in the app.</p>
                      
                        <!-- Button trigger modal -->
                        <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#help">
                            I need help
                        </button>
                    </div>
                </div>
                <button class="btn mb-3 mt-5 form-control" type="button">Login with  Username and Password</button>
                <button class="btn mb-3 form-control" type="button">Sign in with Phone</button>
                <!-- <button class="btn mb-3 form-control" style="background-color:rgb(59, 89, 152); color: white;" type="button">Sign in with Facebook</button>
                <button class="btn mb-3 form-control"style="background-color:rgb(45, 134, 244); color:white;" type="button">Sign in with Google</button> -->
                <p>Still don't have an OrdersYa account? <a href="">Create Account</a></p>
            </div>
        </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="help" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body text-center">
            <i class="fa fa-info-circle my-4" style="font-size: 44px; color: #ffbc00;"></i>
          <h2>Since January 18, the way to enter OrdersNow Shipping changed</h2>
          <p>If you have an OrdersNow Shipping account and you use the same email as in the OrdersNow app, <b>from now on you have to enter with the same method you choose in the app.</b></p>
       <p>If you need help you can write to your commercial.</p>
          
       <button type="button" class="btn btn-danger mt-4" data-bs-dismiss="modal">It is Understood</button>
        </div>
       
      </div>
    </div>
  </div>