<div class="container mt-4">
    <div class="intehac">
        <h4>Integraciones</h4>
    </div>
    <div class=" row text-center">
        <div class="col"></div>
        <div class="col-md-10">
            <h4>Your credentials are active. For security, we will not show your data. If you want to see your credentials, you have to renew them.</h4>
            <button class="btn btn-success" type="button">Renovar Credenciales</button>
        </div>
        <div class="col"></div>
    </div>

    <h4>Plataformas disponibles para integrar</h4>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/download.png" height="80px">
                <div class="content-card">
                    <h3>Shopify</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/woo.png" height="80px">
                <div class="content-card">
                    <h3>woocommerce</h3>
                    <p>How to integrate</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/magento.png" height="80px">
                <div class="content-card">
                    <h3>Magento</h3>
                    <p>How to integrate</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/vtex.png" height="80px">
                <div class="content-card">
                    <h3>vtex</h3>
                    <p>How to integrate</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/magento.png" height="80px">
                <div class="content-card">
                    <h3>Market</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/tastyboom.png" height="80px">
                <div class="content-card">
                    <h3>TastyBoom</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/restu.png" height="80px">
                <div class="content-card">
                    <h3>Restu</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="./../../assets/tastyboom.png" height="80px">
                <div class="content-card">
                    <h3>More Delivery</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./../../assets/lovert.png" height="80px">
                <div class="content-card">
                    <h3>Loveat</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./../../assets/eat.png" height="80px">
                <div class="content-card">
                    <h3>Eat Smart</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./../../assets/bootic.png" height="80px">
                <div class="content-card">
                    <h3>Bootic</h3>
                    <p>Cómo integrar</p>
                </div>
            </div>
        </div>

    </div>

</div>