<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <div class="profile">
                <img src="./../../assets/profile.png" class="img-fluid">
                <h3 class="my-3">Matias Tapia</h3>
                <hr/>
                <table style="width: 100%;">
                    <tr>
                        <th>Telephone:</th>
                        <td>56989061606</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <th>Email:</th>
                        <td>matiast@gbd.cl</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8">
           <div class="card text-center py-5" style="background-color: #f7f7f7;">
               <img src="./../../assets/address.svg"  height="190px">
                 <h3>You don't have frequent addresses saved yet</h3>
                 <p>Once saved you can modify, delete and create shipments directly to <br/>that address.</p>
                <div class="text-center">
                    <button class="btn btn-danger" type="button">Add Address</button>
                </div>
           </div>
        </div>
    </div>

</div>