body {
    background-color: rgb(247, 248, 249);
}

.card-body.table-responsive tr {
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
}

.card-body.table-responsive tr td {
    padding-top: 9px;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10% !important;
    margin: auto;
}