<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <div class="profile">
                <img src="./../../assets/profile.png" class="img-fluid">
                <h3>{{userDetails[0].name}} {{userDetails[0].surname}} </h3>
                <hr/>
                <table style="width: 100%;">
                    <tr>
                        <th>Telephone:</th>
                        <td>{{userDetails[0].telephone}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <th>Email:</th>
                        <td>{{userDetails[0].email}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="account-content">
                <h5>Account data</h5>
                <hr/>
                <h4>Contact information</h4>
                <div class="card">
                    <div class="card-body table-responsive">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    {{userDetails[0].name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Surname
                                </td>
                                <td>
                                    {{userDetails[0].surname}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Telephone
                                </td>
                                <td>{{userDetails[0].telephone}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>{{userDetails[0].email}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h4>Company Data</h4>

                <div class="card">
                    <div class="card-body table-responsive">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    Billing Address
                                </td>
                                <td>{{userDetails[0].billingAddress}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Business name
                                </td>
                                <td>{{userDetails[0].bussinessName}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Tradename
                                </td>
                                <td>{{userDetails[0].tradeName}}</td>
                            </tr>
                            <tr>
                                <td>
                                    RUC
                                </td>
                                <td>{{userDetails[0].ruc}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Turn
                                </td>
                                <td>{{userDetails[0].turn}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>