<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <div class="profile">
                <img src="./../../assets/profile.png" class="img-fluid">
                <h3>Matias Tapia</h3>
                <hr/>
                <table style="width: 100%;">
                    <tr>
                        <th>Telephone:</th>
                        <td>56989061606</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <th>Email:</th>
                        <td>matiast@gbd.cl</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="account-content">
                <h5>Account data</h5>
                <hr/>
                <h4>Contact information</h4>
                <div class="card">
                    <div class="card-body table-responsive">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    Matthias
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Surname
                                </td>
                                <td>
                                    Wall
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Telephone
                                </td>
                                <td>
                                    +56989061606
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>
                                    Matiast@gbd.cl
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h4>Company Data</h4>

                <div class="card">
                    <div class="card-body table-responsive">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    Billing Address
                                </td>
                                <td>
                                    The Military 5620 Of 305
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Business name
                                </td>
                                <td>
                                    GOTOSHOP SPA
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tradename
                                </td>
                                <td>
                                    GBD Courier
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    RUC
                                </td>
                                <td>
                                    773907358
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Turn
                                </td>
                                <td>
                                    OTHER INFORMATION TECHNOLOGY AND INFOR SERVICES ACTIVITIES
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>