<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="./../../assets/login-image.png" height="100%" width="100%"/>
        </div>
        <div class="col-md-6 mt-5 text-center">
            <div class="login-form">
                <img src="./../../assets/login.svg" class="img-fluid"/>

                <h3 class="mt-4">You still don't have an account <br/> in orders already?</h3>
                <h4>Register and in seconds you will be able to make your first shipment.</h4>
                <button class="btn mb-3 mt-5 form-control" type="button">Sign up with Email</button>
                <button class="btn mb-3 form-control" type="button">Sign up with Phone</button>
                <p>Do you have an account in OrdersNow? <a href="">Get into</a></p>
            </div>
        </div>
    </div>
</div>